.experience {
  .company-name {
    cursor: pointer;
  }
  .activeIndicator {
    position: absolute;
    left: -4px;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #7f2bff;
    border-radius: 2px;
  }
}
